.venv/
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.pytest_cache/

data/raw/*.csv
data/interim/*.csv
data/processed/*.csv

outputs/model_objects/*
!outputs/model_objects/.gitkeep

*.egg-info/
.DS_Store

Tasks/
